body {
    background-color: #eaf6f6;
  }
  h1{
    color: #66bfbf;
  }
  h3{
    color: #66bfbf;
  }
  img{
    height: 250px;
  }
  hr{
    background-color: white;
    border-style: none;
    border-top: dotted;
    border-color: gray;
    border-width: 4px;
    width: 10%;
  }